# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.WeekOne_InClassCode.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Alessia\Desktop\CodeLab1_2021\WeekOne_InClassCode\.idea\.idea.WeekOne_InClassCode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
